
html, body {
    font-size: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(247, 247, 247, 0.2);
}

.w100 {width: 100%;}
.h100 { height: 100%;}
a { text-decoration: none;}

.container-fuild {
    max-width: 1920px;
    width: 100%;
    height: auto;
}



/* header */

.header {
    /* width: 100%; */
 }

/* header-top */
.header_top{
    width: 100%;
    height: 58px;
    background-color:  #f4f4f4;
    
}

.header_top_item,
.header_middle_item,
.header_bottom_item,
.footer_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width:1180px;
    margin: 0 auto;
    padding:0;
    list-style: none;
}
.header_top_item {
    height:58px;
}

.header_top_item li {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    color: #757472;
    padding-top: 18px;

}
.header_top_item li  a {
    color: #757472;
}
/* end header-top */


/* header-middle */

.header_middle {
    height: 114px;
}

.header_middle_item {
    margin-top: 20px;
}


/* logo */
.header_middle_item li:first-child {
    width: 235.24px;
    height: 87.55px;
}

.header_middle_item li:first-child img {
  
    width: 130px;
    height: 48.64px;
}
/* end logo */


/* header search */
.header_middle_item li:nth-child(2) {
    position:relative;
    width: 580px;
    height: 42px;
}


.search-name p {
    margin:0;
    color: #949491;
    font-size: 14px;
}

.search-line {
   border-bottom: 1px solid #e4e4e4;
}
.search-line::before {
    content: "";
    position: absolute;
    top:10px;
    right: 10px;
    width: 18.5px;
    height: 18.5px;
    border: 1px solid #949491;
    border-radius: 50%;
}
.search-line::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 7px;
    width: 9px;
    height: 1px;
    transform: rotate(-135deg);
    background-color: #949491;
}

.search_item {
   font-size: 20px;
    border:none;
    outline: none;
    background-color: rgba(247, 247, 247, 0.2);
    
}
.search_item:hover,
.search_item:active {
   outline: none;
}
/* end header search */



/* basket */
.header_middle_item li:nth-child(3) {
    position: relative;
    width: 48px;
    height: 40px;
}
.basket_num {
    position: absolute;
    top: 0px;
    right:0;
    border-radius: 50%;
    color:#fff;
    line-height: 24px;
    text-align:center;
    width: 24px;
    height: 24px;
    background-color: #342e58;
}
/* end basket */
/* end header-middle */

/* header_bottom */
.header_bottom {
    width: 100%;
    font-size: 16px;
    /* height: 56px; */
    max-width: 1920px;
    background-color: #e56943 ;
}

/* left */
.header_bottom_left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;  
    width: 80%;
 }

.header_bottom_left li{
    list-style: none;
    font-weight: bold;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8) ;
}

.header_bottom_left li a {
    color: rgba(255, 255, 255, 0.8);
}
 /* end left */

 /* right */
.header_bottom_right {
    float: right;
     margin: auto 0;   
    width: 110px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    
    background-color: #fff;
    color: #2e2e2e;
    border-radius: 4px;

 }

.header_bottom_right span {
    color: #2e2e2e;
   
}
 /* end right */
/* end header_bottom */
/* end header */



/* main */
.main{
    padding-top: 50px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

/* bread_crumbs */
.bread_crumbs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 22px;
    color: rgba(0, 0, 0, 0.2);
    margin-bottom: 37px;
}
.bread_crumbs li {
    position: relative;
    list-style: none;
    line-height: 22px;
    padding-right: 49px;
}

.bread_crumbs li:last-child {
    color: rgba(0, 0, 0, 0.5);
}

.bread_crumbs li:not(:last-child)::after {
    position: absolute;
    content: "\2192";
    top:0;
    right: 0;
    width: 49px;
    
    text-align: center;
 } 
/*end  bread_crumbs */


/* main_item */
.main_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 710px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}


/* main_item_left */
.main_item_left {
    width: 50%;
    padding-top: 1px;
    
}
/* end main_item_left */


/*main_item_right */
.main_item_right {
    width: 50%;
    padding-left: 20px; 
    font-size: 16px;
    border-left: 0.5px solid rgba(0, 0, 0, 0.15);
}




/* заголовок */
.right_description h3 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
}

/* цена */
.price_item {
    line-height: 150%;
    color: rgba(96, 96, 96, 0.5); 
}
.price_new {
    color: #E56943;
    font-size: 20px;
    font-weight: bold;
}
.price_old {
    margin-left: 30px;
    text-decoration-line: line-through;
}
/* end цена */

/* объем text*/
.volume {
    color: rgba(0, 0, 0, 0.65);
    font-weight: bold;
}
.volume_ml {
    color: rgba(96, 96, 96, 0.5);
}
/* end объём text*/

/* volume_item */
.volume_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
    margin-bottom: 33px;
    color: rgba(96, 96, 96, 0.5);
    border: 1px solid #595959;
    border-radius: 5px;
}

.volume_item li {
    list-style: none;
    color: #595959;
    width: 12.5%;
    text-align: center;
    line-height: 40px;
    height: 40px;
 }
 .volume_item li a {
     display: inline-block;
     width: 100%;
     height: 100%;
 }

 .volume_item li:not(:last-child) {
     border-right:  1px solid #595959;
 }

 /* активный объём */
 .volume_active{ background-color: #342E58;}
 .volume_active a {color: #fff; }

 /* end volume_item */


/* описение стаканчика */
.col65 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
    padding: 7px 0 ;
}
.col05 {
    color: rgba(96, 96, 96, 0.5);
    padding-left: 20px;
}
/* end описание стаканчика */


/* колличество */
.pieces {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 210px;
    height: 40px;
    margin-top: 42px;
}

.pieces_bottom_min,
.pieces_bottom_max {
    width: 40px;
    height: 40px;
    background-color: #EAEAEA;
    border-radius: 4px;
    text-align: center;
}

.pieces_bottom_min a,
.pieces_bottom_max a {
    font-size: 24px;
    line-height: 160%;
}

.pieces_num {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    text-align: center;
}

.pieces_num input {
    width: 100%;
    height: 100%;
    line-height: 38px;
    font-size: 16px;
    text-align: center;
    border: none;
    background-color: transparent;
}
/* end колличество */

/* общее колличество */
.quantity_all {
    margin-top: 17px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #CACACA;
}
.quantity_box_item,
.quantity_packaging_item {
    color: rgba(0, 0, 0, 0.65);
}
/* end общее колличество */

/* кнопки */
.btn_all {
    width: 80%;
    height: 46px;
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn_order,
.btn_in_basket {
    width: 140px; 
    height: 46px;
    border-radius: 4px;
    text-align: center;
    line-height: 46px;
    
}

.btn_order {
    background-color: #E56943;
    color: #fff;
     font-size: 16px;
 }

.btn_in_basket {
    border: 1px solid #E56943;
    color: #595959;
    font-size: 16px;
    
}
/* end кнопки */

/* end main_item_right */

/* end main_item */



/* сопутствующие товары  related*/
    .related {
        max-width: 912px;
        max-height: 370px;
    }
/* end сопутствующие товары  related*/


/* cards */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0;
}

.card {
 margin-top: 20px;
width: 24%;
padding: 5px;
height: auto;;
list-style: none;
text-align: center;
}
.card_active {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius:  5px;
    background: #fff;
}

.card_img {
    position: relative;
    background-color: #fff;
    height: 338px;
    overflow: hidden;
    border-radius: 5px;
 }

 /* sale new */
 .card_new_sale::after,
 .card_new_sale::before {
    position: absolute;  
    width: 43px;
    height: 21px;
    left: 27px;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
 }

 .card_new_sale::after {
    content: "SALE";
    top: 12px;
    background-color: #E56943;
 } 
 .card_new_sale::before {
     content: "NEW";
     top: 42px;
     background-color: #2B2B2B;
  }
/* end sale new */


.card_img_item {
    margin-top:calc(100%/4);
    width: 80%;
}
.card_name {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-top: 25px;
    min-height: 3rem;
    color: #606060;

}

.card_price {
    font-size: 16px;
}

.card_old_price {
    color: rgba(96, 96, 96, 0.5);
    text-decoration-line: line-through;
    margin-right: 20px;
}
.card_new_price {
    color: #E56943;
    font-size: 20px;
    font-weight: 600;
}

.card_price_active {
    text-shadow: 0 4px 4px #bfbfbf;
}

.card_pieces {
    font-size: 16px;
    color:rgba(0, 0, 0, 0.25);
}

.buy {
    width:95%;
    margin: 29px auto;
    height: 40px;
    background-color: #E56943;
    border-radius: 4px;
    border: none;
    color: #fff;
} 
/*end  cards */

 /* end main */




/* footer */
.footer {
    width: 100%;
    padding: 66px 0 0 0 ;
   background-color: #342E58;
   color: #898594;
}


/* настройки footer */
.footer_headline {
    font-size: 16px;
    line-height: 22px;
    color: #F7FDFF;
}

.footer_line {
    font-size: 16px;
    color: #898594;
    line-height: 22px;
}

.footer_line_lit {
    font-size: 16px;
    color: #898594;
    line-height: 22px;
    margin: 0;
}

.footer_bott {
    padding-bottom:  45px;
}
/*end настройки footer */

.footer_left {
    width: 30%;
}
.footer_center {
    width: 30%;
}

.footer_right {
    width: 40%;
}

.footer_right_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 38px;
    margin-bottom: 63px;
}
.footer_right_img a  img {
    height: 100%;
    
}

/* fotter bottom */
.footer_bottom {
    width: 100%;
    padding:0;
    list-style: none;
    height: 124px;
    border-top: 1px solid #898594;
}

.footer_bottom_item {
     display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
    margin: 54px  auto 0;
    max-width:1180px;
    /* margin-top: 54px; */
}
.footer_bottom_item li {
    list-style: none;
     padding: 0 16px;
    /* border: 1px solid blue; */
}

.footer_bottom_item li:not(:last-child){
     
    border-right: 1px solid rgba(137, 133, 148, 0.5);
}

/* end fotter bottom */


/* end footer */






@media screen and (max-width: 768px) {

    /* header */

    /* header top */
    .header_top_item{
        width: 100%;
        justify-content: space-around;
    }

    .header_top_item li:nth-child(3),
    .header_top_item li:nth-child(4),
    .header_top_item li:nth-child(5) {
        display: none;
    }
    /* END header-top */

    /* header middle */
    .header_middle {
        height: auto;
        width: 100%;
        margin-top: 1rem;
    }
    .header_middle_item {
        width: 100%;
        margin-top: 0rem;
    }

    /* logo */
    .header_middle_item li:first-child {
        width: 25%;
        height: auto;
    }
    .header_middle_item li:first-child img {
        width: 100%;
        height: auto;
    }
    /* END logo */

    /* header search */
    .header_middle_item li:nth-child(2) {
    position:relative;
    width: 50%;
    height: auto;
    }
     .search_item {
        padding-left: 0px;
    }
    .search-line::before {
        top:22px;
        width: 10.5px;
        height: 10.5px;
    }
    .search-line::after {
        top: 34px;
        right: 7px;
        width: 6px;
    }

    /* END header_search */
    /* END header middle */

/* header_bottom */
.header_bottom {
    height: auto;
    margin-top: 1rem;
}

/* left */
.header_bottom_left {
    position: relative;
    width: 40px;
    height: 2px;
    margin-left: 20px;
    margin-top: 1.2rem;
    border-radius: 50%;
    
    background-color: #e4e4e4;
}
.header_bottom_left::before, 
 .header_bottom_left::after {
    position: absolute;
    content: "";
    left:0;
    width: 40px;
    height: 2px;
    border-radius: 50%;
    background-color: #e4e4e4;
}
.header_bottom_left::before {
 top:-8px;
} 
.header_bottom_left::after {
    top:8px;
   } 
.header_bottom_left li{
display: none;
}
 /* END left */

/* right */
.header_bottom_right {
    margin-top: 2px;   
    margin-right: 20px;
    width: 25%;
 }

 /* END right */
/* END header_bottom */

   /* END header */



/* main */
.main {
    padding-top: 10px;
}

/* bread_crumbs */
.bread_crumbs {
    margin-bottom: 37px;
    padding:0;
}

.bread_crumbs li {
    font-size: 12px;    
    line-height: auto;
    padding-right: 19px;
}

.bread_crumbs li:not(:last-child)::after {
    width: 19px;
}
/* END bread_crumbs */


/* main_item */
.main_item {
    flex-wrap: wrap;
}

.main_item_left {
    width: 100%;
    min-height: auto;
}

/* END main_item */


/*main_item_right */
.main_item_right {
    padding: 5px;
    width: 100%;
}

.btn_all {
    width: 100%;
}
/* ENDmain_item_right */


/* cards */
.cards {
    flex-wrap: wrap;
}

.card {
    width: 100%;
    padding: 10px;
}

.card_img {
    height: auto;
}
/* END cards */

/* END main */



/* footer */
.footer_item {
    flex-wrap: wrap;
    text-align: center;
}

.footer_left {
    width: 100%;
}
.footer_center {
    width: 100%;
}
.footer_right {
    width: 100%;
}

.footer_right_img a  img {
    width: 100%;
}

/* footer bottom */
.footer_bottom_item {
    flex-wrap: wrap;
    text-align: center;
    margin-top: 0px;
}
.footer_bottom_item li {
   margin: 10px auto;
}
 /* END footer bottom */

/*END footer */

}
